version: "3.8"

services:
  postgres:
    image: postgres:15
    container_name: postgres-db
    environment:
      POSTGRES_DB: Deployment
      POSTGRES_USER: razbas
      POSTGRES_PASSWORD: razbas
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  springboot-app:
    build: .
    container_name: springboot-app
    depends_on:
      - postgres
    ports:
      - "8080:8080"
    environment:
      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres:5432/Deployment
      SPRING_DATASOURCE_USERNAME: razbas
      SPRING_DATASOURCE_PASSWORD: razbas

volumes:
  postgres_data:
